<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}" layout:fragment="content">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>비밀번호 변경</title>
</head>

<body>
  <div class="password-change-container text-center mx-md-5 mx-sm-5">
    <hr class="my-5" />
    <h1>비밀번호 변경</h1>
    <!-- 에러 메시지 표시 -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
      <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/member/password}" method="post" class="my-2" th:object="${passwordUpdateDto}">
      <div class="password-box">
        <!-- 현재 비밀번호 입력 필드 -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="currentPassword-addon">현재 비밀번호</span>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword"
            aria-describedby="currentPassword-addon" required th:field="*{currentPassword}">
        </div>
        <!-- 새 비밀번호 입력 필드 -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="newPassword-addon">새 비밀번호</span>
          <input type="password" class="form-control" id="newPassword" name="newPassword"
            aria-describedby="newPassword-addon" required th:field="*{newPassword}"
            pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{8,16}$">
        </div>
        <!-- 새 비밀번호 확인 입력 필드 -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="newPasswordConfirm-addon">새 비밀번호 확인</span>
          <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm"
            aria-describedby="newPasswordConfirm-addon" required th:field="*{newPasswordConfirm}">
        </div>
        <p class="text-muted mt-1">비밀번호는 영문, 숫자, 특수문자를 포함한 8~16자리여야 합니다.</p>
      </div>
      <button type="submit" class="btn btn-primary" onclick="return confirm('비밀번호를 변경하시겠습니까? 변경 성공 시 로그아웃 됩니다. 다시 로그인 해주세요.');">비밀번호
        변경</button>
    </form>
    <hr class="mt-5" />
  </div>
</body>

</html>