-- Active: 1704524273703@@127.0.0.1@3306@hongsamstick
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="#" th:action="@{/register}" th:object="${registerDto}" method="post">
        <!-- 이메일 필드 -->
        <p>
            <label for="email">이메일: </label>
            <input type="email" id="email" th:field="*{email}" required>
            <button type="button" onclick="checkEmail()">중복 확인</button>
        </p>
        <!-- 이름 필드 -->
        <p>
            <label for="name">이름: </label>
            <input type="text" id="name" th:field="*{name}" required>
            <button type="button" onclick="checkName()">중복 확인</button>
        </p>
        <!-- 비밀번호 필드 -->
        <p>
            <label for="password">비밀번호: </label>
            <input type="password" id="password" th:field="*{password}" pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).{8,16}$" title="비밀번호는 숫자, 영문자, 특수문자를 포함한 8~16자리여야 합니다." required>
        </p>
        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
        <p>
            <button type="submit">회원가입</button>
        </p>

    </form>
    <script>
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        function checkEmail() {
            var email = document.getElementById('email').value;
            if (email === '') {
                alert('이메일을 입력해주세요.');
                return;
            }
            if (!validateEmail(email)) {
                alert('올바른 이메일 형식을 입력해주세요.');
                return;
            }
            fetch('/check-email?email=' + email)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        alert('이미 사용 중인 이메일입니다.');
                    } else {
                        alert('사용 가능한 이메일입니다.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function checkName() {
            var name = document.getElementById('name').value;
            if (name === '') {
                alert('이름을 입력해주세요.');
                return;
            }
            fetch('/check-name?name=' + name)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        alert('이미 사용 중인 이름입니다.');
                    } else {
                        alert('사용 가능한 이름입니다.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
    
</body>
</html>
