<!-- Path: question/src/main/resources/templates/fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:fragment="navbar">


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom  border-3">
    <button class="sidebar-toggle-btn ms-3 btn btn-outline-secondary border-0 rounded-circle d-md-none" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#sidebar-offcanvas" aria-controls="sidebar-offcanvas">
      <i class="bi bi-list fs-5"></i>
      <span class="visually-hidden">메뉴 토글</span>
    </button>
    <a href="/">
      <img src="/logo.png" class="rounded-circle ms-2" alt="Logo" style="width: 50px; height: 50px;">
    </a>
    <a class="navbar-brand me-auto" href="/">Before Question</a>
    <div class="search-box">
      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 350px;">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar-offcanvas" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
      <a href="/">
        <img src="/logo.png" class="rounded-circle" alt="Logo" style="width: 50px; height: 50px;">
      </a>
      <a class="navbar-brand me-auto" href="/">Before Question</a>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
      <form class="d-flex mb-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      <div class="btn-group-vertical">
        <a href="/member/signin" class="btn btn-light" th:if="${!#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-box-arrow-in-right me-2 fs-3"></i> <span class="fs-4"> 로그인 </span>
        </a>
        <a href="/member/signup" class="btn btn-light" th:if="${!#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-person-plus me-2 fs-3"></i> <span class="fs-4"> 회원가입 </span>
        </a>
        <a href="/post/join-with-code" class="btn btn-light" th:if="${!#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-hash me-2 fs-3"></i> <span class="fs-4"> 코드로 참석하기 </span>
        </a>
        <!-- 로그인한 사용자를 위한 버튼들 -->
        <a href="/member/myinfo" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-person-circle me-2 fs-3"></i> <span class="fs-4"> 내정보 </span>
        </a>
        <a href="/post/join-with-code" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-hash me-2 fs-3"></i> <span class="fs-4"> 코드로 참석하기 </span>
        </a>
        <a href="/post/my" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-layout-text-sidebar-reverse me-2 fs-3"></i> <span class="fs-4"> 내가 만든 게시판 </span>
        </a>
        <a href="/my-questions" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-question-circle me-2 fs-3"></i> <span class="fs-4"> 내가 남긴 질문 </span>
        </a>
        <a href="/post/create" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-plus-square me-2 fs-3"></i> <span class="fs-4"> 게시판 개설하기 </span>
        </a>
        <a href="/favorites" class="btn btn-light" th:if="${#authorization.expression('isAuthenticated()')}">
          <i class="bi bi-star me-2 fs-3"></i> <span class="fs-4"> 즐겨찾기 </span>
        </a>
      </div>
      <div class="mt-auto text-center">
        <div class="logoutform" th:if="${#authorization.expression('isAuthenticated()')}">
          <form action="/member/logout" method="post">
            <div class="d-flex justify-content-center">
              <input type="submit" value="로그아웃" class="btn btn-outline-primary btn-outline-lg w-100 " />
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>